/*background */
body{
    background-color: oklab(90.54100000000001% -0.14945 -0.0395);
    background-image: url(jannat.jpg);
    background-attachment: fixed;
}
div {
    background-color: rgba(143, 91, 195, 0.8);
    
    height: 80px;
}
/*css border*/
h2{
    border-style: dashed;
    border-style: solid;
    border-left: dashed;
    border-radius: 5px;
    border-width: 10px;
    border-right-color: blueviolet;
    border-bottom-color: blueviolet;
    border-top: dotted;
    border-bottom: double;
}
/*margin and padding*/
*{
    margin: 0;
    padding: 0;
}

.parent{
    background: cornflowerblue;
        margin-right: 20px;
    margin-top: 30px;
    margin-left: 50px;
    padding-left: 30px;
    padding-right: px;
    padding-top: 50px;
    margin: 80px;
    padding-bottom: 20px;
   

}
.cild{
    background-color: rgb(177, 127, 52);
    margin-top: 20px;
    margin-left: 30px;
    padding-left: 30px;
    height: 23px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    
}
button{
    background-color: rgb(104, 203, 38);
    border-radius: 20px;
    
    border: 0;
    font-size: 30px;
    color: azure;
    background-size: 50px;
    height: 60px;
    width: 150px;
}
